anyconfig==0.9.11
appdirs==1.4.4
appnope==0.1.0
APScheduler==3.6.3
argon2-cffi==20.1.0
arrow==0.16.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
black==19.10b0
bleach==3.2.1
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///opt/concourse/worker/volumes/live/74b22aae-8eb9-44eb-6c00-a8a07af62b36/volume/cffi_1600699174113/work
chardet==3.0.4
clarifai==2.6.2
click==7.1.2
configparser==5.0.1
cookiecutter==1.6.0
coverage==5.3
cryptography @ file:///opt/concourse/worker/volumes/live/823033e5-92f5-43de-539e-bdc7bc36c81a/volume/cryptography_1598892026131/work
decorator==4.4.2
defusedxml==0.6.0
EasyProcess==0.3
emoji==0.6.0
entrypoints==0.3
flake8==3.8.3
fsspec==0.6.3
future==0.18.2
googleapis-common-protos==1.52.0
grpcio==1.33.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata==2.0.0
install==1.3.4
instapy==0.6.11
ipykernel @ file:///opt/concourse/worker/volumes/live/73e8766c-12c3-4f76-62a6-3dea9a7da5b7/volume/ipykernel_1596206701501/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/bb221eaa-cc1a-4ab2-40f7-74a2020a44b1/volume/ipython_1599056234390/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi @ file:///opt/concourse/worker/volumes/live/152cd167-7b79-4fbd-5c97-d7b338805c2b/volume/jedi_1598371617305/work
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==0.31.1
jupyterlab-launcher==0.10.5
jupyterlab-pygments==0.1.2
kedro==0.16.5
kedro-docker==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
MeaningCloud-python==2.0.0
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.5.0
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nbstripout==0.3.3
nest-asyncio==1.4.1
notebook==6.1.4
numpy @ file:///opt/concourse/worker/volumes/live/40d975a3-7e82-44c8-53df-feccdbce8b96/volume/numpy_and_numpy_base_1596233859108/work
packaging==20.4
pandas @ file:///opt/concourse/worker/volumes/live/993437e5-6177-49a4-48b9-0912ecc50f00/volume/pandas_1598371475214/work
pandocfilters==1.4.2
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
pip-tools==5.3.1
pluggy==0.13.1
plyer==1.4.3
poyo==0.5.0
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==5.4.3
pytest-cov==2.10.1
pytest-mock==1.13.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-json-logger==0.1.11
python-telegram-bot==13.0
pytz==2020.1
PyVirtualDisplay==1.3.2
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.9.27
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
selenium @ file:///Users/runner/miniforge3/conda-bld/selenium_1602632417104/work
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
toposort==1.5
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.4
typed-ast==1.4.1
tzlocal==2.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webdriverdownloader==1.1.0.3
webencodings==0.5.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
zipp==3.2.0
